# dependencies
node_modules/
yarn.lock

# production
dist/

# local backups/source asset copies
/backups/
/ımg/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/
*.swp
*.swo
